<div class="main tasks-new">
  <div class="container">
    <h1 class="form-heading">タスク編集</h1>
    <div class="container">
    
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          
          <form action= "/users/<%=current_user.id%>/tasks/<%=@task.id%>" accept-charset="UTF-8" method="post">
            <input name="utf8" type="hidden" value="✓">          
            <input type="hidden" name="_method" value="patch">
            <input type="hidden" name="authenticity_token" value="LHLM3cdwGJ0P5zj2/LlXINLBXA1Ha/b0AczHVCobey44dTSLQ3H5Pb2I5HHMf+24wCepQicOqSkxdzI5T3aYeA==">
            
             <% if @task.errors.any? %>
              <div id="error_explanation">
                 <div class="alert alert-danger">
                   入力エラーが<%= @task.errors.count %>件あります。
                    <!--The form contains <%= pluralize(@task.errors.count, "error") %>.-->
                </div>
                <ul>
                <% @task.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
                </ul>
             </div>
          <% end %>
            
            <label class="label-form" for="task_name">名称</label>
            <input class="form-control" type="text" value="<%=@task.name%>" name="task[name]">
      
            <label class="label-form" for="task_description">詳細</label>
            <textarea rows="5" class="form-control" name="task[description]"><%=@task.description%></textarea>
      
            <input type="submit" name="commit" value="更新" class="btn btn-primary btn-form" data-disable-with="更新">
            <a class="btn btn-default btn-form" href="/tasks">キャンセル</a>
           </form>
        </div>
      </div>
    </div>
  </div>
</div>
